.spiner{
    position: relative;
    margin: 20px auto;
    display:flex;
    justify-content:center;
    align-items:center;
    height:50%;
    width: 50%;
}

#moon {
    width:30%;
}

.rocket{
    position:absolute;
    width:55%;
    height:90%;
    animation-name: spin;
    animation:spin 2.5s linear infinite;
}
@keyframes spin{
    0% { -webkit-transform: rotate(0deg);transform:rotate(0deg);}
    25% { -webkit-transform: rotate(90deg);transform:rotate(90deg);}
    50% { -webkit-transform: rotate(180deg);transform:rotate(180deg);}
    75% { -webkit-transform: rotate(270deg);transform:rotate(270deg);}
    100% { -webkit-transform: rotate(360deg);transform:rotate(360deg);}
}
@media screen and (max-width: 700px){
    .rocket{
        width:250px;
        height:250px;
    }
    #moon{
        width:40%;
    }
}